body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
	background-color: black;
}

h2 {
	width: 381px;
    height: 36px;
    color: #e2e2e2;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    font-size: 30px;
    left: 0;
    right: 0;
    margin: auto;
}

h2 span {
	opacity: 0;
	transition: 0.3s ease;
}

.github {
	opacity: 0;
	transition: 1s ease;
	position: absolute;
	top: 10px;
	right: 10px;
}

.github img {
	height: 34px;
}